doctype html
html
 title=title
 <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
 body
  div.text-center 
   h1.h1.py-4 Simple Form
  div.container.text-center.w-25 
   form(method='POST',action='/form_submit')
    div.form-group 
     input(type="text",name='username',class='form-control',value='',placeholder='Username')
    div.form-group 
     input(type="text",name='email',class='form-control',value='',placeholder='Email')
    div.form-group 
     input(type="submit",class='btn btn-primary',value='Submit')



   
   

 
 
 